@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Typography */
  --family: "Nunito Sans", sans-serif;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-slg: 28px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --radii: 0.5rem;
}

// body[data-theme="dark"] {
//   --colors-text: hsl(0, 0%, 100%);
//   --icons-colors-bg: #141e30;
//   --input-colors-bg: #141e30;
//   --colors-bg: linear-gradient(to right, #141e30, #243b55);
//   --colors-ui-base: #243b55;
//   --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
// }
// body[data-theme="light"] {
//   --colors-text: hsl(200, 15%, 8%);
//   --icons-colors-bg: #ecf0f3;
//   --input-colors-bg: #e8eaef;
//   --colors-bg: linear-gradient(to right, #d6dae0, #e8eaef);
//   --colors-ui-base: hsl(0, 0%, 100%);
//   --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// }

// body {
//   margin: 0;
//   font-family: var(--family);
//   color: var(--colors-text);
//   font-weight: var(--fw-light);
//   background: var(--colors-bg);
// }
