.wrapper {
  margin-bottom: 20px;
}

.input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  width: 100%;
  padding-left: 20px;
  margin: 0 0 5px 0;
  &:focus {
    outline: none;
  }
}

.error {
  display: flex;
  justify-content: center;
  height: 20px;
  color: red;
}

.shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
